.popup__bnt_action_save {
    width: 358px;
    height: 50px;
    margin: 18px auto 37px;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.popup__bnt_action_save:hover {
    opacity: 0.8;
}

.popup__bnt_action_save:disabled {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    opacity: .2;
}

@media screen and (max-width: 450px) {
    .popup__bnt_action_save {
        width: 238px;
        height: 46px;
        margin-top: 45px;
        margin-bottom: 25px;
    }
}